<div class="layout-wrapper">
  <div class="controls">
      <label for="p">p:</label><input id="p" type="number" size="5" value="0.5" min="0.1" max="0.9" step="0.1" onchange="draw()" />
      <label for="lambda">lambda:</label><input id="lambda" type="number" size="5" value="1" min="0.1" step="0.1" onchange="draw()" />
  </div>
  <div id="renderer">
      <!-- here all the plots will be rendered -->
  </div>

  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://d3js.org/d3.v6.min.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="/js/cost.js" charset="utf-8"></script>
</div>
